<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" />
    <title>Bill Tracker</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.3.3.4.css" />
    <link rel="stylesheet" type="text/css" href="css/zintrojs.css" />
    <link rel="stylesheet" type="text/css" href="css/st-menu.css" />
    <link rel="stylesheet" type="text/css" href="css/global.css" />
    <link rel="stylesheet" type="text/css" href="css/zhome.css" />
    <link href="annotatorjs/annotator.css" rel="stylesheet" />
    <link href="./annotatorjs/src/css/style.css" rel="stylesheet" />
    <link href="css/bill.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/introjs.css" />
  </head>
  <body class="downstream">
    <!-- fun stuff
    <ul>
      {% for bill in bills %}
      <li><a href="{% url 'bills:single' bill.id %}">{{bill.title}}</a></li>
      {% endfor %}
    </ul>
    <br />
    <br />
    <p>{{ error_message}}</p>
    <form action="{% url 'bills:search_by_title' %}" method="post">
      {% csrf_token %}
      <label for="searchDb">Search Database For Bill By Title</label>
      <input type="text" id="searchDb" name="title" /><br />
      <input type="submit" value="Search" />
    </form>
    -->
    <div id="st-container" class="st-container">

      <!-- slide out mobile menu -->
      <div class="st-pusher">

        <nav class="st-menu st-effect-7" id="menu-7">
          <a id="logoText" href="/">
            <img id="logoImage" src="images/logo-balloon.png" alt="Bill Tracker logo" />
            Bill Tra<span class="fixBigKerningGap">c</span>k<span class="fixSmallKerningGap">e</span>r
          </a>
          <ul>
            <li>
              <a href="/bill-listing.html">
                <i class="fa fa-leanpub"></i>
                &nbsp;Bills
              </a>
            </li>
            <li>
              <a href="about-us.html">
                <i class="fa fa-users"></i>
                &nbsp;About Us
              </a>
            </li>
            <li>
              <a href="/blog.html">
                <i class="fa fa-comments"></i>
                &nbsp;Blog
              </a>
            </li>
            <li>
              <a href="/contact-us.html">
                <i class="fa fa-envelope"></i>
                &nbsp;Contact Us
              </a>
            </li>
          </ul>
        </nav>

        <div class="st-content"> <!-- regular content wrapper -->

            <div class="st-content-inner"> <!-- extra div for emulating position:fixed of the menu -->

              <div class="container"><!-- ng-controller="BillController"-->
              <div class="row demoBill">


                <div class="page-header">
                  <h1 id="navbar">
                      Senate Bill 4, Texas Session: 85(R)
                  </h1>
                </div>


                <div class="col-xs-8 row" id="billinfo-group">
                  <div class="col-fixed btn-group-vertical">
                    <button type="button" id="btn-authors" class="btn btn-primary">
                      Authors</button>
                    <button type="button" id="btn-subjects" class="btn btn-primary">
                      Subjects</button>
                  </div>

                  <div id="billinfo" class="col-xs-10 col-offset">
                    <div class="col-xs-6" id="billinfo-left"></div>
                    <div class="col-xs-6" id="billinfo-right"></div>
                  </div>
                </div>

                <div class="col-xs-8 billarea">
                  <div class="annotator-wrapper">
                    <!-- data-ng-bind-html="bill | highlightText:query"-->

                    <p></p>A BILL TO BE ENTITLED<br>
                    AN ACT<br>
                    relating to the prosecution of offenses against public administration,
                    including ethics offenses. BE IT ENACTED
                    BY THE LEGISLATURE OF THE STATE OF TEXAS:

                    <p></p>

                    <p class="SECTION">SECTION 1. Chapter 41, Government Code, is amended by
                    adding Subchapter F to read as follows:</p>

                    <p class="Subchapter"><span style="text-decoration: underline">SUBCHAPTER
                    F.</span> <span style="text-decoration: underline">PUBLIC INTEGRITY
                    PROSECUTIONS</span></p>

                    <p class="Sec" style="text-decoration: underline">Sec. 41.351. DEFINITIONS.
                    In this subchapter:</p>

                    <ul>
                      <li class="list demo-annotator-adder-parent">
                        <div data-step="5" data-intro="Enter your comment and hit save." class="annotator-outer annotator-editor annotator-original">
                          <form class="annotator-widget">
                            <ul class="annotator-listing">
                              <li class="annotator-item">
                              <textarea id="annotator-field-0" placeholder="Comments…">I can't believe they're trying to slip this in there. Talk about pork barrel legislation!
                              </textarea></li>

                              <li class="annotator-item annotator-checkbox"><input id=
                              "annotator-field-1" placeholder=
                              "Allow anyone to &lt;strong&gt;view&lt;/strong&gt; this annotation"
                              type="checkbox"><label for="annotator-field-1">Allow anyone to
                              <strong>view</strong> this annotation</label></li>

                              <li class="annotator-item"><input id="annotator-field-2"
                              placeholder="Add some tags here…"></li>
                            </ul>

                            <div class="annotator-controls">
                              <a class="annotator-cancel" href="#cancel">Cancel</a> <a class=
                            "annotator-save annotator-focus" href="#save">Save</a>
                            </div>
                          </form>
                      </div>

                      <div data-step="4" data-intro="Click the pencil icon" class="annotator-adder annotator-pencil"><button>Annotate</button></div><span data-step="3" data-intro="Highlight some text" class="1 annotator-hl"><span style=
                      "text-decoration: underline">(1)</span>"Offense" means a prohibited act<span> for which
                      state law imposes a criminal or civil penalty.</li>

                      <li class="list"><span style=
                      "text-decoration: underline">(2)</span><span style=
                      "text-decoration: underline">"Prosecute" means represent the state to impose a</span> <span style=
                      "text-decoration: underline">criminal or civil penalty.</span></li>

                      <li class="list"><span style=
                      "text-decoration: underline">(3)</span><span style=
                      "text-decoration: underline">"Public integrity
                      prosecution"</span><span style="text-decoration: underline">means
                      the</span> <span style="text-decoration: underline">prosecution of an
                      offense against public administration under</span> <span style=
                      "text-decoration: underline">Section 41.352.</span></li>

                      <li class="list"><span style=
                      "text-decoration: underline">(4)</span><span style=
                      "text-decoration: underline">"State agency" means a department,
                      commission,</span> <span style="text-decoration: underline">board,
                      office, council, authority, or other agency in the executive</span>
                      <span style="text-decoration: underline">branch of state government that
                      is created by the constitution or a</span> <span style=
                      "text-decoration: underline">statute of this state, including a
                      university system or institution</span> <span style=
                      "text-decoration: underline">of higher education as defined by Section
                      61.003, Education Code.</span></li>

                      <li class="list"><span style=
                      "text-decoration: underline">(5)</span><span style=
                      "text-decoration: underline">"State employee" means an individual, other
                      than a</span> <span style="text-decoration: underline">state officer, who
                      is employed by:</span></li>

                      <li class="list"><span style="text-decoration: underline">(A) a state
                      agency;</span></li>

                      <li class="list"><span style=
                      "text-decoration: underline">(B)</span><span style=
                      "text-decoration: underline">the Supreme Court of Texas, the Court
                      of</span> <span style="text-decoration: underline">Criminal Appeals of
                      Texas, a court of appeals, or the Texas Judicial</span> <span style=
                      "text-decoration: underline">Council; or</span></li>

                      <li class="list"><span style=
                      "text-decoration: underline">(C)</span><span style=
                      "text-decoration: underline">either house of the legislature or a</span>
                      <span style="text-decoration: underline">legislative agency, council, or
                      committee, including the</span> <span style=
                      "text-decoration: underline">Legislative Budget Board, the Texas
                      Legislative Council, the State</span> <span style=
                      "text-decoration: underline">Auditor's Office, and the Legislative
                      Reference Library.</span></li>

                      <li class="list"><span style=
                      "text-decoration: underline">(6)</span><span style=
                      "text-decoration: underline">"State officer" means an elected officer,
                      an</span> <span style="text-decoration: underline">appointed officer, a
                      salaried appointed officer, an appointed</span> <span style=
                      "text-decoration: underline">officer of a major state agency, or the
                      executive head of a state</span> <span style=
                      "text-decoration: underline">agency.</span></li>

                      <li style="list-style: none; display: inline">
                        <p class="Sec"><span style=
                        "text-decoration: underline">Sec.</span><span style=
                        "text-decoration: underline">41.352.</span><span style=
                        "text-decoration: underline">OFFENSES AGAINST PUBLIC
                        ADMINISTRATION.</span> <span style=
                        "text-decoration: underline">For</span> <span style=
                        "text-decoration: underline">purposes of this subchapter, the following
                        are offenses against</span> <span style=
                        "text-decoration: underline">public administration:</span></p>
                      </li>

                      <li class="list"><span style=
                      "text-decoration: underline">(1)</span><span style=
                      "text-decoration: underline">an offense under Title 8, Penal Code,
                      committed by</span> <span style="text-decoration: underline">a state
                      officer or a state employee in connection with the powers</span>
                      <span style="text-decoration: underline">and duties of the state office
                      or state employment;</span></li>

                      <li class="list"><span style=
                      "text-decoration: underline">(2)</span><span style=
                      "text-decoration: underline">an offense under Chapter 301, 302, 571, 572,
                      or</span> <span style="text-decoration: underline">2004 committed by a
                      state officer or a state employee in connection</span> <span style=
                      "text-decoration: underline">with the powers and duties of the state
                      office or state employment</span> <span style=
                      "text-decoration: underline">or by a candidate for state
                      office;</span></li>

                      <li class="list"><span style=
                      "text-decoration: underline">(3)</span><span style=
                      "text-decoration: underline">an offense under Chapter 573 committed by a
                      state</span> <span style="text-decoration: underline">officer in
                      connection with the powers and duties of the state</span> <span style=
                      "text-decoration: underline">office; and</span></li>

                      <li class="list"><span style=
                      "text-decoration: underline">(4)</span><span style=
                      "text-decoration: underline">an offense under Title 15, Election
                      Code,</span> <span style="text-decoration: underline">committed in
                      connection with:</span></li>

                      <li class="list"><span style=
                      "text-decoration: underline">(A)</span><span style=
                      "text-decoration: underline">a campaign for or the holding of
                      state</span> <span style="text-decoration: underline">office;
                      or</span></li>

                      <li class="list"><span style=
                      "text-decoration: underline">(B)</span><span style=
                      "text-decoration: underline">an election on a proposed
                      constitutional</span> <span style=
                      "text-decoration: underline">amendment.</span></li>

                      <li style="list-style: none; display: inline">
                        <p class="Sec"><span style=
                        "text-decoration: underline">Sec.</span><span style=
                        "text-decoration: underline">41.353.</span><span style=
                        "text-decoration: underline">INVESTIGATION OF PUBLIC INTEGRITY
                        OFFENSES.</span></p>
                      </li>

                      <li class="list"><span style="text-decoration: underline">(a)</span>
                      <span style="text-decoration: underline">Unless another state agency is
                      designated as having primary</span> <span style=
                      "text-decoration: underline">responsibility for an investigation of a
                      complaint alleging an</span> <span style=
                      "text-decoration: underline">offense against public administration, an
                      investigation of a formal</span> <span style=
                      "text-decoration: underline">or informal complaint alleging an offense
                      against public</span> <span style=
                      "text-decoration: underline">administration under this subchapter shall
                      be conducted by an</span> <span style=
                      "text-decoration: underline">officer of the Texas Rangers. If a state
                      agency other than the Texas</span> <span style=
                      "text-decoration: underline">Rangers has primary responsibility for an
                      investigation of a</span> <span style=
                      "text-decoration: underline">complaint alleging an offense against public
                      administration, the</span> <span style="text-decoration: underline">Texas
                      Rangers shall provide assistance if assistance is requested</span>
                      <span style="text-decoration: underline">by that state
                      agency.</span></li>

                      <li class="list"><span style=
                      "text-decoration: underline">(b)</span><span style=
                      "text-decoration: underline">Nothing in this subchapter shall prevent the
                      state</span> <span style="text-decoration: underline">auditor from
                      conducting an investigation under Chapter 321,</span> <span style=
                      "text-decoration: underline">including an investigation of a formal or
                      informal complaint</span> <span style=
                      "text-decoration: underline">alleging an offense against public
                      administration.</span></li>

                      <li class="list"><span style=
                      "text-decoration: underline">(c)</span><span style=
                      "text-decoration: underline">If an investigation conducted by the Texas
                      Rangers of a</span> <span style="text-decoration: underline">complaint
                      alleging an offense against public administration</span> <span style=
                      "text-decoration: underline">demonstrates a reasonable suspicion that the
                      offense alleged in the</span> <span style=
                      "text-decoration: underline">complaint occurred, the officer of the Texas
                      Rangers conducting the</span> <span style=
                      "text-decoration: underline">investigation shall refer the complaint to
                      the appropriate</span> <span style=
                      "text-decoration: underline">prosecutor of the county in which venue is
                      proper under Section</span> <span style=
                      "text-decoration: underline">41.357.</span></li>

                      <li class="list"><span style=
                      "text-decoration: underline">(d)</span><span style=
                      "text-decoration: underline">Not later than the 90th day before the
                      expiration of the</span> <span style="text-decoration: underline">statute
                      of limitations for the prosecution of an offense against</span>
                      <span style="text-decoration: underline">public administration alleged in
                      a complaint referred by the Texas</span> <span style=
                      "text-decoration: underline">Rangers under Subsection (c), the prosecutor
                      to whom the complaint</span> <span style="text-decoration: underline">was
                      referred shall notify the Texas Rangers of the status of the</span>
                      <span style="text-decoration: underline">case. The Texas Rangers shall
                      immediately notify the legislature</span> <span style=
                      "text-decoration: underline">if a prosecutor does not provide the status
                      notification to the</span> <span style="text-decoration: underline">Texas
                      Rangers within the time provided in this subsection.</span></li>

                      <li style="list-style: none; display: inline">
                        <p class="Sec"><span style=
                        "text-decoration: underline">Sec.</span><span style=
                        "text-decoration: underline">41.354.</span><span style=
                        "text-decoration: underline">RECUSAL OF PROSECUTOR. (a) In this
                        section,</span> <span style="text-decoration: underline">"judges" means
                        the presiding judges of the administrative judicial</span> <span style=
                        "text-decoration: underline">regions.</span></p>
                      </li>

                      <li class="list"><span style=
                      "text-decoration: underline">(b)</span><span style=
                      "text-decoration: underline">A prosecutor to whom a complaint has been
                      referred under</span> <span style="text-decoration: underline">Section
                      41.353(c) or the defendant may request that the court with</span>
                      <span style="text-decoration: underline">jurisdiction over the complaint
                      order the prosecutor to be recused</span> <span style=
                      "text-decoration: underline">from the case for good cause. If the court
                      approves the request, the</span> <span style=
                      "text-decoration: underline">prosecutor shall be considered
                      disqualified.</span></li>

                      <li class="list"><span style=
                      "text-decoration: underline">(c)</span><span style=
                      "text-decoration: underline">A prosecutor to whom a complaint has been
                      referred under</span> <span style="text-decoration: underline">Section
                      41.353(c) and who has, either currently or in the past, a</span>
                      <span style="text-decoration: underline">financial or other business
                      relationship with the defendant must</span> <span style=
                      "text-decoration: underline">request that the court with jurisdiction
                      over the complaint permit</span> <span style=
                      "text-decoration: underline">the prosecutor to be recused from the case
                      for good cause. If the</span> <span style=
                      "text-decoration: underline">court approves the request, the prosecutor
                      shall be considered</span> <span style=
                      "text-decoration: underline">disqualified.</span></li>

                      <li class="list"><span style=
                      "text-decoration: underline">(d)</span><span style=
                      "text-decoration: underline">A prosecutor to whom a complaint has been
                      referred under</span> <span style="text-decoration: underline">Section
                      41.353(c) shall disclose to the court if the prosecutor, in</span>
                      <span style="text-decoration: underline">either a personal or
                      professional capacity, has ever made a</span> <span style=
                      "text-decoration: underline">campaign contribution to or received a
                      campaign contribution from</span> <span style=
                      "text-decoration: underline">the person against whom the complaint was
                      made or a political</span> <span style=
                      "text-decoration: underline">committee organized for the benefit of the
                      person against whom the</span> <span style=
                      "text-decoration: underline">complaint was made. The court shall consider
                      a disclosure made</span> <span style="text-decoration: underline">under
                      this subsection in determining whether good cause exists for</span>
                      <span style="text-decoration: underline">recusal.</span></li>

                      <li class="list"><span style=
                      "text-decoration: underline">(e)</span><span style=
                      "text-decoration: underline">Following the recusal of a prosecutor under
                      Subsection</span></li>

                      <li class="list"><span style="text-decoration: underline">(b) or (c), the
                      judges shall select the prosecutor for prosecution</span> <span style=
                      "text-decoration: underline">of the complaint by a majority vote. The
                      prosecutor for an offense</span> <span style=
                      "text-decoration: underline">against public administration must represent
                      another county within</span> <span style="text-decoration: underline">the
                      same administrative judicial region as the county in which</span>
                      <span style="text-decoration: underline">venue is proper under Section
                      41.357. A prosecutor may be selected</span> <span style=
                      "text-decoration: underline">under this section only with the
                      prosecutor's consent to the</span> <span style=
                      "text-decoration: underline">appointment.</span></li>

                      <li class="list"><span style=
                      "text-decoration: underline">(f)</span><span style=
                      "text-decoration: underline">In selecting a prosecutor under this
                      section, the judges</span> <span style="text-decoration: underline">shall
                      consider the proximity of the county or district represented</span>
                      <span style="text-decoration: underline">by the prosecutor to the county
                      in which venue is proper under</span> <span style=
                      "text-decoration: underline">Section 41.357.</span></li>

                      <li class="list"><span style=
                      "text-decoration: underline">(g)</span><span style=
                      "text-decoration: underline">The prosecutor selected to prosecute the
                      public</span> <span style="text-decoration: underline">integrity offense
                      under this section may pursue a waiver to extend</span> <span style=
                      "text-decoration: underline">the statute of limitations by no more than
                      two years. If the waiver</span> <span style=
                      "text-decoration: underline">adds less than two years to limitations, the
                      prosecutor may pursue a</span> <span style=
                      "text-decoration: underline">successive waiver for good cause shown to
                      the court, providing that</span> <span style=
                      "text-decoration: underline">the total time of all waivers does not
                      exceed two years.</span></li>

                      <li style="list-style: none; display: inline">
                        <p class="Sec"><span style=
                        "text-decoration: underline">Sec.</span><span style=
                        "text-decoration: underline">41.355.</span><span style=
                        "text-decoration: underline">COOPERATION OF STATE AGENCIES AND LOCAL
                        LAW</span> <span style="text-decoration: underline">ENFORCEMENT
                        AGENCIES.</span> <span style="text-decoration: underline">(a)</span>
                        <span style="text-decoration: underline">To the extent allowed by law,
                        a state</span> <span style="text-decoration: underline">agency or local
                        law enforcement agency shall cooperate with the</span> <span style=
                        "text-decoration: underline">prosecutor of a public integrity
                        prosecution by providing</span> <span style=
                        "text-decoration: underline">information requested by the prosecutor as
                        necessary to carry out</span> <span style=
                        "text-decoration: underline">the purposes of this
                        subchapter.</span></p>
                      </li>

                      <li class="list"><span style=
                      "text-decoration: underline">(b)</span><span style=
                      "text-decoration: underline">Information disclosed under this section
                      is</span> <span style="text-decoration: underline">confidential and not
                      subject to disclosure under Chapter 552.</span></li>

                      <li style="list-style: none; display: inline">
                        <p class="Sec"><span style=
                        "text-decoration: underline">Sec.</span><span style=
                        "text-decoration: underline">41.356.</span><span style=
                        "text-decoration: underline">CONFLICT OF INTEREST. (a) The Texas
                        Rangers</span> <span style="text-decoration: underline">may refer the
                        investigation of a complaint alleging an offense</span> <span style=
                        "text-decoration: underline">against public administration involving a
                        person who is a member of</span> <span style=
                        "text-decoration: underline">the executive branch to the local law
                        enforcement agency that would</span> <span style=
                        "text-decoration: underline">otherwise have authority to investigate
                        the complaint, if a</span> <span style=
                        "text-decoration: underline">conflict of interest arises from the
                        conduct of an investigation by</span> <span style=
                        "text-decoration: underline">the officers of the Texas
                        Rangers.</span></p>
                      </li>

                      <li class="list"><span style=
                      "text-decoration: underline">(b)</span><span style=
                      "text-decoration: underline">If, in the course of conducting an
                      investigation of a</span> <span style=
                      "text-decoration: underline">complaint, the Texas Rangers determine that
                      an individual who is</span> <span style=
                      "text-decoration: underline">assigned to the security detail of a state
                      official is a fact</span> <span style=
                      "text-decoration: underline">witness or has knowledge of the facts
                      underlying the complaint, the</span> <span style=
                      "text-decoration: underline">Texas Rangers shall refer the investigation
                      of the complaint to</span> <span style=
                      "text-decoration: underline">another law enforcement agency. The public
                      safety director shall</span> <span style=
                      "text-decoration: underline">notify the chair of the Public Safety
                      Commission of the referral of</span> <span style=
                      "text-decoration: underline">a complaint to another law enforcement
                      agency within 24 hours after</span> <span style=
                      "text-decoration: underline">the referral is made.</span></li>

                      <li class="list"><span style=
                      "text-decoration: underline">(c)</span><span style=
                      "text-decoration: underline">If a formal or informal complaint alleges
                      that the</span> <span style="text-decoration: underline">public safety
                      director or a deputy or assistant director of the</span> <span style=
                      "text-decoration: underline">Department of Public Safety has committed an
                      offense against public</span> <span style=
                      "text-decoration: underline">administration, the Texas Rangers shall
                      refer the investigation of</span> <span style=
                      "text-decoration: underline">the complaint to another law enforcement
                      agency.</span> <span style="text-decoration: underline">The public
                      safety</span> <span style="text-decoration: underline">director shall
                      notify the chair of the Public Safety Commission of</span> <span style=
                      "text-decoration: underline">the referral of a complaint to another law
                      enforcement agency</span> <span style="text-decoration: underline">within
                      24 hours after the referral is made.</span></li>

                      <li class="list"><span style=
                      "text-decoration: underline">(d)</span><span style=
                      "text-decoration: underline">Local law enforcement must comply with all
                      requirements</span> <span style="text-decoration: underline">of this
                      subchapter in conducting an investigation of a complaint</span>
                      <span style="text-decoration: underline">alleging an offense against
                      public administration as provided by</span> <span style=
                      "text-decoration: underline">this section.</span></li>

                      <li style="list-style: none; display: inline">
                        <p class="Sec"><span style=
                        "text-decoration: underline">Sec.</span><span style=
                        "text-decoration: underline">41.357.</span><span style=
                        "text-decoration: underline">VENUE. (a) Notwithstanding Chapter 13,
                        Code</span> <span style="text-decoration: underline">of Criminal
                        Procedure, or any other law, and except as provided by</span>
                        <span style="text-decoration: underline">Subsection (c) or (d), if the
                        defendant is a state officer, venue</span> <span style=
                        "text-decoration: underline">for a prosecution under this subchapter is
                        the county in which the</span> <span style=
                        "text-decoration: underline">defendant resided at the time the offense
                        was committed.</span></p>
                      </li>

                      <li class="list"><span style=
                      "text-decoration: underline">(b)</span><span style=
                      "text-decoration: underline">Notwithstanding any other law, if the
                      defendant is a</span> <span style="text-decoration: underline">state
                      employee who is not a state officer, venue for a prosecution</span>
                      <span style="text-decoration: underline">under this subchapter is the
                      county in which the conduct</span> <span style=
                      "text-decoration: underline">constituting the offense against public
                      administration occurred.</span></li>

                      <li class="list"><span style=
                      "text-decoration: underline">(c)</span><span style=
                      "text-decoration: underline">If the defendant holds an office of the
                      executive branch</span> <span style="text-decoration: underline">subject
                      to a residency requirement under Article IV, Texas</span> <span style=
                      "text-decoration: underline">Constitution, venue for a prosecution under
                      this subchapter is the</span> <span style=
                      "text-decoration: underline">county in which the defendant resided at the
                      time the defendant was</span> <span style=
                      "text-decoration: underline">elected to the term of that office during
                      which the offense was</span> <span style=
                      "text-decoration: underline">committed.</span></li>

                      <li class="list"><span style=
                      "text-decoration: underline">(d)</span><span style=
                      "text-decoration: underline">If a complaint alleging an offense against
                      public</span> <span style="text-decoration: underline">administration
                      under this subchapter alleges that an offense was</span> <span style=
                      "text-decoration: underline">committed by two or more defendants, venue
                      for the prosecution of</span> <span style=
                      "text-decoration: underline">all defendants under this subchapter is any
                      county in which the</span> <span style=
                      "text-decoration: underline">conduct constituting the offense against
                      public administration</span> <span style=
                      "text-decoration: underline">occurred.</span></li>

                      <li style="list-style: none; display: inline">
                        <p class="Sec"><span style=
                        "text-decoration: underline">Sec.</span><span style=
                        "text-decoration: underline">41.358.</span><span style=
                        "text-decoration: underline">PROSECUTION OF CERTAIN OFFENSES BY
                        ATTORNEY</span> <span style="text-decoration: underline">GENERAL.
                        Nothing in this subchapter shall be construed as limiting</span>
                        <span style="text-decoration: underline">the authority of the attorney
                        general to prosecute offenses under</span> <span style=
                        "text-decoration: underline">Section 273.021, Election Code.</span></p>

                        <p class="SECTION">SECTION 2. Sections 301.027(b) and (c), Government
                        Code, are amended to read as follows:</p>
                      </li>

                      <li class="list">(b) If the president of the senate or speaker receives a
                      report or statement of facts as provided by Subsection (a), the president
                      of the senate or speaker shall certify the statement of facts to the
                      <span style="text-decoration: underline">appropriate prosecuting</span>
                      [<span style="text-decoration: line-through">Travis County
                      district</span>] attorney <span style="text-decoration: underline">as
                      provided under Section 41.353(c)</span> under the seal of the senate or
                      house of representatives, as appropriate.</li>

                      <li class="list">(c) The <span style=
                      "text-decoration: underline">prosecuting</span> [<span style=
                      "text-decoration: line-through">Travis County district</span>] attorney
                      <span style="text-decoration: underline">to</span> <span style=
                      "text-decoration: underline">whom a statement of facts is certified under
                      Subsection (a) or the</span> <span style=
                      "text-decoration: underline">prosecutor selected under Section 41.354(e),
                      if applicable,</span> shall bring the matter before the grand jury for
                      action. If the grand jury returns an indictment, the <span style=
                      "text-decoration: underline">prosecuting</span> [<span style=
                      "text-decoration: line-through">district</span>] attorney shall prosecute
                      the indictment.</li>

                      <li style="list-style: none; display: inline">
                        <p class="SECTION">SECTION 3. Section 411.022, Government Code, is
                        amended by adding Subsection (c) to read as follows:</p>
                      </li>

                      <li class="list"><span style=
                      "text-decoration: underline">(c)</span><span style=
                      "text-decoration: underline">An officer of the Texas Rangers has the
                      authority to</span> <span style="text-decoration: underline">investigate
                      offenses against public administration prosecuted</span> <span style=
                      "text-decoration: underline">under Subchapter F, Chapter 41.</span></li>

                      <li style="list-style: none; display: inline">
                        <p class="SECTION">SECTION 4. Subchapter F, Chapter 41, Government
                        Code, as added by this Act, applies only to the prosecution of an
                        offense against public administration committed on or after September
                        1, 2015. For purposes of this section, an offense is committed before
                        September 1, 2015, if any element of the offense occurs before that
                        date.</p>

                        <p class="SECTION">SECTION 5. The investigation of an offense against
                        public administration that is classified as ongoing or pending on the
                        effective date of this Act shall remain with the entity that is
                        conducting the investigation, unless the entity consents to transfer
                        the investigation to the Texas Rangers.</p>

                        <p class="SECTION">SECTION 6. If any provision of this Act or its
                        application to any person or circumstance is held invalid, the
                        invalidity does not affect other provisions or applications of this Act
                        that can be given effect without the invalid provision or application,
                        and to this end the provisions of this Act are severable.</p>

                        <p class="SECTION">SECTION 7. This Act takes effect September 1,
                        2015.</p>

                        <table cellpadding="0" cellspacing="0" width="680"></table>

                        <div class="annotator-outer annotator-viewer annotator-hide">
                          <ul class="annotator-widget annotator-listing"></ul>
                        </div>

                        <!--
                        <div class="annotator-outer annotator-editor" style="top: 64.5px; left: 180px;">
                          <form class="annotator-widget">
                            <ul class="annotator-listing"><li class="annotator-item"><textarea id="annotator-field-0" placeholder="Comments…"></textarea><span class="annotator-resize"></span></li><li class="annotator-item annotator-checkbox"><input id="annotator-field-1" placeholder="Allow anyone to <strong>view</strong> this annotation" type="checkbox"><label for="annotator-field-1">Allow anyone to <strong>view</strong> this annotation</label></li><li class="annotator-item"><input id="annotator-field-2" placeholder="Add some tags here…"></li></ul>
                            <div class="annotator-controls">
                              <a href="#cancel" class="annotator-cancel">Cancel</a>
                              <a href="#save" class="annotator-save">Save</a>
                            </div>
                          </form>
                        </div>
                      -->

                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-xs-4" id="submission">

                    <ul>
                      <li data-step="6" data-intro="Your annotation appears here." class="annotator-marginviewer-element  me" id="annotation-2" style="top: 232.5px;">
                        <div class="annotator-marginviewer-text">
                          <div class="hightlight anotator_color_box">
                          </div>
                          <div class="anotador_text">I can't believe they're trying to slip this in there. Talk about pork barrel legislation!</div>
                        </div>
                        <div class="annotator-marginviewer-date">
                          08/18/2015 16:08:05
                        </div>
                        <div class="annotator-marginviewer-quote">the</div>
                        <div class="annotator-marginviewer-footer">
                          <span class="label">demoUser</span>
                          <img src="/annotatorjs/src/img/icono_eliminar.png" class="annotator-viewer-delete" title="Delete" style=" float:right;margin-top:3px;;margin-left:3px"><img src="annotatorjs/src/img/edit-icon.png" class="annotator-viewer-edit" title="Edit" style="float:right;margin-top:3px">
                        </div>
                      </li>
                    </ul>

                  <div class="form-group">
                    <form action="/addannotation/" method="post" class="form" id="formaddannotation">
                      <label for="annotation">Annotation:</label>
                      <textarea class="form-control" rows="1" id="annotation"></textarea>
                      {% csrf_token %}
                      <input type="hidden" name="add_for" value="{{ bill.id }}" />
                      <button class="btn" type="submit" id="submitbutton" onClick="submitAnnotation(annotation)">Submit Annotation</button>
                    </form>
                  </div>

                </div>

            <footer>
              <div class="container">
                <p class="footerItem1">Texas capitol photo by <a target="_blank" href="https://www.flickr.com/photos/thelukeparker/14170034048/in/photolist-nAa8rS-nbT8E6-nbT3P6">Luke Parker</a>.</p>
                <p class="footerItem2">See our code on <a target="_blank" href="https://github.com/bill-tracker/bill-tracker">Github</a>.</p>
                <p class="footerItem3">An <a target="_blank" href="http://atxhackforchange.org/">ATX Hack For Change</a> 2015 project.</p>
              </div>
            </footer>

          </div><!-- /st-content-inner -->

        </div><!-- /st-content -->

      </div> <!-- st-pusher -->

    </div> <!-- st-container -->

    <script src="js/ajquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="js/intro.js"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/global.js" type="text/javascript"></script>
    <script src="js/classie.js"></script>
    <script src="js/sidebarEffects.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>

  </body>
</html>
